Flask
flask-cors
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-Migrate
gunicorn

SQLAlchemy
Werkzeug
Jinja2

python-dotenv
requests

numpy
scikit-learn
scipy
pandas

sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu
faiss-cpu

langchain
langchain-community
langchain-core
langchain-text-splitters

duckduckgo_search

google-generativeai

PyMuPDF
pytesseract
pillow
pdf2image
pypdf

python-docx
openpyxl

APScheduler

aiohttp
httpx

tqdm
regex
PyYAML

psycopg2-binary